// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #92c6a4;
}

.card {
    border-color: #c9aace;
}

.card-header {
    background-color: #c9aace;
}
